.box {
   padding: 10px;
   border-radius: 10px;
   border: 1px solid #D37D42;
   background: rgb(35, 37, 41);
   min-width: 100px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.mes {
   color: white;
   font-size: 12px;
   font-weight: 700;
   font-family: "Montserrat", sans-serif;
   word-wrap: break-word;
   overflow-wrap: break-word;
}

.email {
   color: #dd931b;
   font-size: 12px;
   font-weight: 700;
   font-family: "Montserrat", sans-serif;
   word-wrap: break-word;
   overflow-wrap: break-word;
}

.time {
   font-size: 10px;
   color: rgba(211, 139, 52, 0.5);
   font-weight: 400;
}