.box {
   padding: 10px;
   border-radius: 10px;
   border: 1px solid #d37d42;
   background: #fff;
   min-width: 100px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.mes {
   color: black;
   font-size: 12px;
   font-weight: 700;
   font-family: "Montserrat", sans-serif;
   word-wrap: break-word;
   overflow-wrap: break-word;
}

.email {
   color: #C37900;
   font-size: 12px;
   font-weight: 700;
   font-family: "Montserrat", sans-serif;
   word-wrap: break-word;
   overflow-wrap: break-word;
}

.time {
   font-size: 10px;
   color: rgba(83, 51, 13, 0.5);
   font-weight: 400;
}
