name: CI artifact

on:
    push:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Remove old build files
              run: rm -rf .next node_modules

            - name: Show current branch
              run: git rev-parse --abbrev-ref HEAD

            - name: Build the Docker image
              run: |
                  docker build \
                  --build-arg NEXT_PUBLIC_BASE_DOMAIN=${{ secrets.NEXT_PUBLIC_BASE_DOMAIN }} \
                  --build-arg NEXT_PUBLIC_GOOGLE_CLIENT_ID=${{ secrets.NEXT_PUBLIC_GOOGLE_CLIENT_ID }} \
                  --build-arg NEXT_PUBLIC_BASE_DOMAIN_CLOUDINARY=${{ secrets.NEXT_PUBLIC_BASE_DOMAIN_CLOUDINARY }} \
                  -t img-fe_main:latest .

            - name: Save Docker image as tar
              run: docker save img-fe_main:latest -o img-fe_main.tar

            - name: Upload docker image artifact
              uses: actions/upload-artifact@v4
              with:
                  name: img-fe_main
                  path: img-fe_main.tar
